.accordion {
  margin: 2em 0;
  h3 {
    display: flex;
    width: 100%;
    background: $sw-light-grey;
    justify-content: space-around;
    margin-bottom: 0.5em;
    font-size: em(16);

    .accordion-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .accordion-icon {
        display: flex;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    span {
      color: black;
      font-weight: bold;
    }
  }
  button {
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  .accordion-trigger {
    background: none;
    display: block;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
    border: 0;
    &:focus {
      outline: 1;
    }
    svg.collapse-minus {
      display: none;
    }
    &[aria-expanded="true"] {
      background: $line-grey;
      svg {
        &.expand {
          display: none;
        }
        &.collapse-minus {
          display: block;
        }
      }
    }
  }

  .accordion button::-moz-focus-inner {
    border: 0;
  }

  .accordion-title {
    display: block;
    pointer-events: none;
    outline: none;
  }

  .accordion-panel {
    margin: 0;
    padding: 0.5em 2em;
  }

  /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
  .accordion-panel[hidden] {
    display: none;
  }
}
