@import "typography";
@import "left-nav";
@import "pages";
@import "icons";
@import "breadcrumbs";
@import "accordion";
@import "tabs";
@import "color";
@import "code-container";
@import "menu";
@import "filters";
@import "tables";
@import "pagination";
@import "navigation";
@import "header";
@import "jumplinks";
@import "forms";
@import "hero";
@import "tiles";
@import "card";
@import "carousel";
@import "casestudy";
@import "tooltips";
@import "footer";
@import "utility";

// Internal CSS
@import "./primary/components";

a:not([href]):not([tabindex]) {
  color: $sw-blue;
  cursor: pointer;
  &:hover {
    color: $sw-blue;
  }
}

// a:focus,
// button:focus {
//   outline: 1px solid $sw-blue;
// }

.wrapper {
  display: flex;
  align-items: stretch;
}

.m1-p {
  p {
    margin-bottom: 0.3em;
  }
}

.spacer {
  margin-bottom: 4em;
}

a.link {
  color: $sw-blue;
  border-bottom: 1px solid $sw-blue;
  text-decoration: none;
  display: inline-block;
  align-self: flex-start;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
}

button {
  background: $sw-blue;
  color: white;
}

.button-container {
  margin-bottom: 2em;
}

#content {
  padding: 16px 32px;
  max-width: 1600px;
  width: 100%;
  background-color: #fff;
  background-size: auto auto;
  margin-left: 250px;
}

code {
  color: $mid-grey-01;
  font-size: em(16);
  display: flex;
  flex-direction: column;
  //padding: 1em;
}
